<div class="row" id="temperatures">

  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Overview</a></li>
      <li class="active">
      <i class="fa fa-tint"></i> Temperatures
      </li>
    </ol>
  </div> 

  <h4>
    <i class="fa fa-sort-amount-desc"></i> Temperature Trends in <%=date%> 
    <a href="#/temperatures" id="refresh">
      <button class="btn btn-inverse"> <i class="fa fa-refresh"></i> Refresh </button>
    </a>
  </h4>
  <!-- displays temperature linear chart -->
  <div id="chartContainer" style="width:100%; height: 450px; padding-bottom: 30px;"></div>

  <!-- displays temperature PID Control Panel -->
  <div id="control-panel" class="col-md-3"></div>

  <!-- temp alarms table -->
  <div class="col-md-9 table-responsive" id="temp-alarms">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 60px">Edit</th>
          <th>ID</th>
          <th>Temperature </th>
          <th>Max Threshold</th>
          <th>Min Threshold</th>
          <th>Created at</th>
          <th><center>Alarm</center></th>
          <th><center>Actived</center></th>
          <th><center>Solved</center></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#tempAlarmModal" id="abc"> -->
<!--   Launch demo modal -->
<!-- </button> -->
<!-- Modal -->

<!-- <div class="modal fade" id="tempAlarmModal" tabindex="-1" role="dialog" aria-labelledby="alarmModalLabel" aria-hidden="false"> -->
<!--   <div class="modal-dialog"> -->
<!--     <div class="modal-content"> -->
<!--       <div class="modal-header"> -->
<!--         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<!--         <h4 class="modal-title" id="alarmModalLabel">Alarm Notification</h4> -->
<!--       </div> -->
<!--       <div class="modal-body"> -->
<!--         <div class="row"> -->
<!--           <div class="col-md-4"> -->
<!--             <img src="img/alarm.gif" alt="Alarm" class="modal-alarm"> -->
<!--           </div> -->
<!--           <div class="col-md-8"> -->
<!--             <blockquote> -->
<!--               <p> <strong>Alarm Temperature: </strong> <span id="modal-temp"></span>°C</p> -->
<!--               <p> <strong>Is Actived: </strong> <span id="modal-actived"></span> </p> -->
<!--               <p> <strong>Is Solved: </strong> No </p> -->
<!--               <p> <strong>Created at: </strong> <span id="modal-created"></span></p> -->
<!--               <p> <strong>Description: </strong> <span id="modal-desc"></span></p> -->
<!-- <p> <strong>Snapshot: </strong> </p> -->
<!-- <img src="uploads/snapshot1.jpg" alt="" class="modal-snapshot"> -->
<!-- </blockquote> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="modal-footer"> -->
<!--           <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">OK</button> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
