
<td style="max-width: 80px;">
  <a href="#/devices/<%=device.id%>/setting">
    <button class="btn btn-warning">
      <i class="fa fa-cog"></i> Setting
    </button>
  </a>
</td>

<td><%=device.device_id%></td>
<td><%=device.position%></td>

<!-- temperatures status -->
<%if (device.temp_status === 1) {%>
<td>
  <a href="#/temperatures" class="tips danger-blink" data-toggle="tooltip" data-placement="bottom" title="Click to view details"> 
    <center> <i class="fa fa-bell icon-animated-bell fa-3x"></i> <br> Avg: <%=device.temp%>°C </center> 
  </a>
</td>
<% }else if (device.temp_status === -1) {%>
<td>
  <a href="#/temperatures" class="tips warning-blink" data-toggle="tooltip" data-placement="bottom" title="Click to view details"> 
    <center> <i class="fa fa-exclamation-triangle fa-3x"></i> 
      <!-- <br> Avg: <%=device.temp%>°C --> 
    </center> 
  </a>
</td>
<%} else {%>
<td> 
  <a href="#/temperatures" class="tips" data-toggle="tooltip" data-placement="bottom" title="Click to view Temperature details"> 
    <center> <i class="fa fa-check-circle-o fa-2x"></i> 
      <!-- <br> Avg: <%=device.temp%>°C --> 
    </center> 
  </a>
</td>
<%} %>

<!-- noises status -->
<%if (device.noise_status === 1) {%>
<td>
  <a href="#/noises" class="tips danger-blink" data-toggle="tooltip" data-placement="bottom" title="Click to view details"> 
    <center> <i class="fa fa-bell icon-animated-bell fa-3x"></i>
      <!-- <br> Avg: N/A --> 
    </center> 
  </a>
</td>
<% }else if (device.noise_status === -1) {%>
<td>
  <a href="#/noises" class="tips warning-blink" data-toggle="tooltip" data-placement="bottom" title="Click to view details"> 
    <center> <i class="fa fa-exclamation-triangle fa-3x"></i> 
      <!-- <br> Avg: N/A --> 
    </center> 
  </a>
</td>
<%} else {%>
<td>
  <a href="#/noises" class="tips" data-toggle="tooltip" data-placement="bottom" title="Click to view details"> 
    <center> <i class="fa fa-check-circle-o fa-2x"></i> 
      <!-- <br> Avg: N/A --> 
    </center> 
  </a>
</td>
<%} %>

<!-- airs status -->
<td>
  <a href="#/airs" class="tips" data-toggle="tooltip" data-placement="bottom" title="Click to view details">
    <center> <i class="fa fa-check-circle-o fa-2x"></i> 
      <!-- <br> Avg: N/A --> 
    </center>
  </a>
</td>

<!-- overall status -->
<%if (overall_status === 1) {%>
<td class="warning danger-blink">
  <center><i class="fa fa-exclamation-triangle fa-2x"></i> Warning</center>
</td>
<% }else if (overall_status === -1) {%>
<td class="danger blink">
  <center><i class="fa fa-bell-o fa-2x"></i> Alarm</center>
</td>
<%} else {%>
<td>
  <center><i class="fa fa-check-circle-o fa-3x"></i>
</td>
<%} %>

