
<h1 class="page-header">
  Dashboard
</h1>

<a href="#/devices/new">
  <button class="btn btn-primary add-device"> <i class="fa fa-plus"></i> Add new device</button>
</a>
<h4 class="pull-right"> Status: 
  OK = <i class="fa fa-check-circle-o"></i> , 
  Warning = <i class="fa fa-exclamation-triangle"></i> , 
  Alarm = <i class="fa fa-bell"></i>
</h4>
<br><br>

<!-- temp alarms table -->
<div class="table-responsive" id="device-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Device ID</th>
        <th>Location</th>
        <th><center>Temperature status</center></th>
        <th><center>Noise status</center></th>
        <th><center>Air status</center></th>
        <th><center>Overall status</center></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
