/* home page global add on */
.fa-check-circle-o {
  color: #1D9F75;
}
.fa-exclamation-triangle{
  color: #FFC259;
}
.fa-bell{
  color: #B6110A;
}

.air-success{
  background-color: #A6D15C !important;
}

.air-success:hover{
  background-color: #93C83B !important;
}

.noise-success{
  background-color: #D9EBBC !important;
}

.noise-success:hover{
  background-color: #ABD156 !important;
}

.danger a{
  color: #fff !important;
}
.warning a{
  color: #fff !important;
}


.devices {
  margin-top: -15px;
}

.devices h4{
  padding: 10px;
  color: #455162;
  background: #F5F5F5;
}

#device-table td a{
  color: #333;
}

/* css for the right side of the device page */
#device-right-page .form-group {
  margin-right: 0px;
}

span .input-group-addon {
  height: 34px !important;
}


/* css for blink animations */
.warning-blink i{
  color: #FCF8E3;
  animation: warning_blink 1s steps(5, start) infinite;
  -webkit-animation: warning_blink 1s steps(5, start) infinite;
}
@keyframes warning_blink{
  to { 
    color: #FFC259;
  }
}
@-webkit-keyframes warning_blink{
  to { 
    color: #FFC259;
  }
}

.danger-blink i{
  color: #fff;
  animation: danger_blink 1s steps(5, start) infinite;
  -webkit-animation: danger_blink 1s steps(5, start) infinite;
}
@keyframes danger_blink{
  to { 
    color: #B6110A;
  }
}
@-webkit-keyframes danger_blink {
  to { 
    color: #B6110A;
  }
}
