/* home page global add on */
.fa-check-circle-o {
  color: #1D9F75;
}

.air-success{
  background-color: #A6D15C !important;
}

.air-success:hover{
  background-color: #93C83B !important;
}

.noise-success{
  background-color: #D9EBBC !important;
}

.noise-success:hover{
  background-color: #ABD156 !important;
}

.danger a{
  color: #fff !important;
}
.warning a{
  color: #fff !important;
}

.blink{
  color: #fff;
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink{
  to { 
    background-color: #E44C25; 
    color: #fff;
  }
}
@-webkit-keyframes blink{
  to { 
    background-color: #E44C25; 
    color: #fff;
  }
}

.danger-blink{
  color: #fff;
  animation: danger-blink 1s steps(5, start) infinite;
  -webkit-animation: danger-blink 1s steps(5, start) infinite;
}
@keyframes danger-blink{
  to { 
    background-color: #F0AD4E; 
    color: #fff;
  }
}
@-webkit-keyframes danger-blink {
  to { 
    background-color: #F0AD4E; 
    color: #fff;
  }
}

.devices {
  margin-top: -15px;
}

.devices h4{
  padding: 10px;
  color: #455162;
  background: #F5F5F5;
}


/* css for the right side of the device page */
#device-right-page .form-group {
  margin-right: 0px;
}

span .input-group-addon {
  height: 34px !important;
}


