@media (min-width: 980px) {
  #temperatures .col-md-9 {
    margin-left: 20px;
    margin-right: -20px;
  }
}

/* css for temp */
#temperatures .form-group label{
  font-size: 13px;
  font-weight: 500;
}

.temp_header {
  padding-left: 25px;
}

.form-actions {
  padding: 30px 20px 10px 20px;
  margin-top: 20px;
  background:#F5F5F5;
}

.label {
  font-size: 14px;
}

.threshold {
  font-size: 12px;
  padding: 0 5px;
}

#control-panel, #temp-alarms {
  border: solid 1px #eee;
  padding: 15px !important;
}
