@media (min-width: 980px) {
  #temperatures .col-md-9 {
    margin-left: 20px;
    margin-right: -20px;
  }
}

/* css for temp */
#temperatures .form-group label{
  font-size: 13px;
  font-weight: 500;
}

.temp_header {
  padding-left: 25px;
}

.form-actions {
  padding: 30px 20px 10px 20px;
  margin-top: 20px;
  background:#F5F5F5;
}

.label {
  font-size: 14px;
}

.threshold {
  font-size: 12px;
  padding: 0 5px;
}

#control-panel, #temp-alarms {
  border: solid 1px #eee;
  padding: 15px !important;
}

#temperatures h4 {
  color: #455162;
}


.span {
  position : absolute;
  /* left: 40%; */
  /* top: 30%; */
  width: 200px;
  height: 200px;
  z-index: 9999;
  /* background: #E0A450; */
  color: #fff;
  font-size: 20px;
  /* visibility: hidden; */
  box-shadow: 10px 10px 5px #888888;
  border-radius:2px !important;
  vertical-align:center !important;
}

#air-quality {
  left: 15%;
  top: 20%;
  background: #86C74C;
}

#temp {
  left: 40%;
  top: 20%;
  background: #FFC25A;
}

#health {
  left: 65%;
  top: 20%;
  background: #E11700;
}

#plus {
  position: absolute;
  left: 34%;
  top: 26%;
  color: #455162;
}

#equal {
  position: absolute;
  left: 59%;
  top: 23%;
  font-size: 70px;
  font-weight: 700;
  color: #455162;
}
