<div class="row">

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Overview</a></li>
    <li class="active">
    <i class="fa fa-rss"></i> Noises
    </li>
  </ol>
</div> 

  <h4>
    <i class="fa fa-rss"></i> Noise Trends
    <a href="#/noises" id="refresh">
      <button class="btn btn-inverse"> <i class="fa fa-refresh"></i> Refresh </button>
    </a>
  </h4>
  <div id="noise-container"> 
  </div>

  <hr>
  <!-- displays temperature PID Control Panel -->
  <div id="noises-control-panel" class="col-md-3"></div>


</div>
